.contact-details-card{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(7,49,87,1) 0%, rgb(1, 43, 44) 100%);
    border-radius: 0.65rem;
    border: 1.5px solid rgb(5, 112, 112);
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.contact-details-card .icons{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
}

.icons img{
    width: 1.8rem;
    height: auto;
    object-fit: contain;
}

.contact-details-card p{
    font-size: 0.9rem;
    font-weight: 400;
}