.contact-container{

    margin: 4rem o;
    position: relative;
    padding: 2px;
    box-shadow: 2px 2px 2px cyan;
    border-radius: 10px;
}
.contact-container::after,
.contact-container::before{
    background-color: cyan;
}

.contact-container::after,
.contact-container::before{

    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: rgb(6, 155, 155);
    position: absolute;
    z-index: -1;
    filter: blur(200px);

}

.contact-container::after{
    top: -3rem;
    left: -5rem;
}

.contact-container::before{
    background:cyan;
    bottom: 0rem;
    right: 0rem;
}

.contact-container h5{

    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.contact-container hr{
    width: 200px;
    height: 0.4rem;
    background: rgb(3, 128, 128);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.contact-content{

    display: flex;
    gap: 3rem;
    align-items: center;
}
.social-media-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.social-media-icons img{
    width: 30px;
    height: 30px;
    gap: 12rem;
    margin-left: 10px;
}
.social-media-icons img:hover{
    cursor: pointer;
    background: rgb(4, 165, 165);
    border-radius: 50%;
}
@media(max-width:768px){
    .contact-content{
        flex-direction: column-reverse;
    }

    .contact-container h5{
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
}